
.container {
    width: 90%;
    max-width: 120rem;
    padding: 0 2rem;
    margin: 0 auto;
  
    &_lista-personajes {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      gap: 13rem;
    }
  }
  